
body{
    padding-bottom: 200px;
    padding-top: 100px;
    padding-left: 95px;
    height: 1000px;
}
p{
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail{
    width: 100%;
    
}
@media  screen and (max-width:400px) {
    .vid-grid{
        background-color: lightblue;
        grid-template-columns:1fr;
        
    }
.pp{
    width: 85%;
    border-radius: 40px;
}
.video-description{
    display: grid;
    width: 100px 1fr; 
}
.video-title{
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 18px;
    font-family: Roboto,Arial; 
    font-weight: 550;
    
}
.thumbnail-space{
    margin-bottom: 12px;
    position: relative;
}
.video-author,.video-stats{
    font-size: 15px;
    color: rgb(96, 96, 96);
}
.video-author{
margin-bottom: 4px;
}
.vid-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
   
    
}
.video-info{
    display:grid;
    grid-template-columns: 70px 1fr;
    column-gap: 15px;
}
.time{
    position: absolute;
    bottom: 20px;
    color: white;
    right: 13px;
    background-color: black;
    font-family: Roboto,Arial;
    padding: 6px;
    border-radius: 4px;
}
